##Carga de datos / data_acquisition

In [1]:
import pandas as pd
import csv
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
ruta_archivo= '/content/drive/MyDrive/UNAL_Cobros_I.csv'

In [3]:
pd= pd.read_csv(ruta_archivo, sep=';')

In [4]:
pd.head(10)

,CUST_CODE,NUMERO_FACTURA,FECHA_ENVIO,CANTIDAD_FACTURAS,FECHA_DEVOLUCION,IMPORTE_FACTURA,FECHA_FACTURA,ESCENARIO_RECOBRO,DEUDA_TOTAL,PORTADO,...,VPT,FECHA_BPI,TIPO_DOCUMENTO,CODIGO_POSTAL,Unnamed: 20,NUM_LINEAS_ACTIVAS,ESTADO_CLIENTE,VAP_SCF,VAP_OB,FEU
0,1.845701,A100173400951022,21/12/2022,3,25/10/2022,263.68,01/10/2022,EMP,1000.82,NO,...,S,202310.0,NaN,8029.0,NaN,12,A,N,N,N
1,1.684716,A100173428261022,23/12/2022,3,24/10/2022,3.93,01/10/2022,EMP,23.79,NO,...,N,NaN,NaN,8039.0,NaN,1,A,N,N,N
2,1.750373,A100173814331022,21/12/2022,3,30/11/2022,178.74,01/10/2022,EMP,477.83,NO,...,N,202310.0,NaN,43850.0,NaN,7,A,N,N,N
3,1.845437,A100173855691022,21/12/2022,3,26/10/2022,96.32,01/10/2022,EMP,347.94,NO,...,S,202310.0,NaN,3340.0,NaN,4,A,N,S,N
4,1.807786,A100173883841022,21/12/2022,2,25/10/2022,312.7,01/10/2022,EMP,2684.65,NO,...,N,202310.0,NaN,3007.0,NaN,4,A,N,N,N
5,1.786779,A100173946231022,21/12/2022,2,28/10/2022,56.46,01/10/2022,EMP,140.92,NO,...,N,202310.0,NaN,29602.0,NaN,2,A,N,N,N
6,1.799535,A100173962051022,21/12/2022,2,26/10/2022,1780.16,01/10/2022,EMP,2737.52,NO,...,S,202310.0,NaN,29200.0,NaN,1,A,N,N,N
7,1.821349,A100173968841022,21/12/2022,3,24/10/2022,54.21,01/10/2022,EMP,194.69,NO,...,N,202310.0,NaN,29600.0,NaN,2,A,N,N,N
8,1.775121,A100174025131022,21/12/2022,3,21/10/2022,108.5,01/10/2022,EMP,233.38,NO,...,S,202310.0,NaN,46220.0,NaN,1,A,N,N,N
9,1.734951,A100174096211022,21/12/2022,3,31/10/2022,37.51,01/10/2022,EMP,144.32,NO,...,N,202310.0,NaN,33004.0,NaN,1,A,N,N,N